<title>ヴィツ.js<% if (page !== "Home") { %> - <%- page %><% } %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="japanese,game">
<meta name="description" content="ヴィツ.js - Japanese Flash Card Game">
<link rel="stylesheet" href="<%- meta.ejs.css.bootstrap.href %>" integrity="<%- meta.ejs.css.bootstrap.integrity %>" crossorigin="anonymous">
<link rel="stylesheet" href="<%- meta.ejs.css.fontawesome.href %>" integrity="<%- meta.ejs.css.fontawesome.integrity %>" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<script src="<%- meta.ejs.js.jquery.href %>" integrity="<%- meta.ejs.js.jquery.integrity %>" crossorigin="anonymous"></script>
<script src="<%- meta.ejs.js.bootstrap.href %>" integrity="<%- meta.ejs.js.bootstrap.integrity %>" crossorigin="anonymous"></script>
<% if (data) { %>
<script type="text/javascript">
  const logoutUrl = "<%- meta.route.logout %>";

  function logout() {
    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {
        window.location.href = JSON.parse(xhr.response);
      }
    };

    xhr.open("POST", logoutUrl, false);
    xhr.send();
  }

  // webpages r stoopid
  window.onload = () => {
    document.getElementById("logout").addEventListener("click", logout, false);
  }
</script>
<% } %>